<div class="page-header">
  <%= link_to simulations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_simulation_path(@simulation), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Your Simulation</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @simulation.user.username %></dd>

</dl>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Attacker
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% for i in 1..@units.count   %>
      <li><a href="/simulations/<%= @simulation.id %>/units/<%=i%>"><%= @units[i] %></a></li>
    <% end %>
  </ul>
</div>

<% if @simulation.units.count > 0 %>
  <%= link_to @simulation.units.first.name, unit_path(@simulation.units.first.id), class: "btn btn-danger btn-lg btn-xlarge" %>
<% end %>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Target
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% for i in 1..@datasheets.count   %>
      <li><a href="/simulations/<%= @simulation.id %>/datasheets/<%=i%>"><%= @datasheets[i] %></a></li>
    <% end %>
  </ul>
</div>

<% if @simulation.datasheets.count > 0 %>
  <%= link_to @simulation.datasheets.first.name, datasheet_path(@simulation.datasheets.first.id), class: "btn btn-danger btn-lg btn-xlarge" %>
<% end %>

<% if @simulation.datasheets.count > 0 && @simulation.units.count > 0 %>
    <%= button_to "Attack the Target", any_attack_path(@simulation.id), class: "btn btn-success btn-lg btn-xlarge" %>
<% end %>



<br />
<% if @simulation.attack_groups != nil && @simulation.attack_groups.first != nil && @simulation.attack_groups.last.results != nil %>
  <% for i in 1..@simulation.units.first.slots%>
    <p>Slot #<%= i  %>: </p>
    <% @simulation.attack_groups.last.results.each do |res| %>
      <% if res.slot == i %>
        <p> <%= res.results_array[0]  %> </p>
      <% end %>
    <% end %>
    <br />
  <% end %>
  <br />
<% end %>

<div class="message-wr">
  <%= render '/messages/messages' %>
  <!-- <%= render '/messages/message_form' %> -->
</div>
