<p id="notice"><%= notice %></p>

<h1>Datasheets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Power</th>
      <th>movement</th>
      <th>Shooting skill</th>
      <th>Strength</th>
      <th>Combat skill</th>
      <th>Attacks</th>
      <th>Wounds</th>
      <th>Leadership</th>
      <th>Armor save</th>
      <th>Invul shooting</th>
      <th>Invul combat</th>
      <th>Single model point cost</th>
      <th>Model count increment</th>
      <th>Power for each increment</th>
      <th>Min model count</th>
      <th>Max model count</th>
      <th>First slot</th>
      <th>Second slot</th>
      <th>Third slot</th>
      <th>Fourth slot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datasheets.each do |datasheet| %>
      <tr>
        <td><%= datasheet.name %></td>
        <td><%= datasheet.role %></td>
        <td><%= datasheet.power %></td>
        <td><%= datasheet.movement %></td>
        <td><%= datasheet.shooting_skill %></td>
        <td><%= datasheet.strength %></td>
        <td><%= datasheet.combat_skill %></td>
        <td><%= datasheet.attacks %></td>
        <td><%= datasheet.wounds %></td>
        <td><%= datasheet.leadership %></td>
        <td><%= datasheet.armor_save %></td>
        <td><%= datasheet.invul_shooting %></td>
        <td><%= datasheet.invul_combat %></td>
        <td><%= datasheet.single_model_point_cost %></td>
        <td><%= datasheet.model_count_increment %></td>
        <td><%= datasheet.power_for_each_increment %></td>
        <td><%= datasheet.min_model_count %></td>
        <td><%= datasheet.max_model_count %></td>
        <td><%= datasheet.first_slot %></td>
        <td><%= datasheet.second_slot %></td>
        <td><%= datasheet.third_slot %></td>
        <td><%= datasheet.fourth_slot %></td>
        <td><%= link_to 'Show', datasheet %></td>
        <td><%= link_to 'Edit', edit_datasheet_path(datasheet) %></td>
        <td><%= link_to 'Destroy', datasheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datasheet', new_datasheet_path %>
