<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @datasheet.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @datasheet.role %>
</p>

<p>
  <strong>Power:</strong>
  <%= @datasheet.power %>
</p>

<p>
  <strong>movement:</strong>
  <%= @datasheet.movement %>
</p>

<p>
  <strong>Shooting skill:</strong>
  <%= @datasheet.shooting_skill %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @datasheet.strength %>
</p>

<p>
  <strong>Combat skill:</strong>
  <%= @datasheet.combat_skill %>
</p>

<p>
  <strong>Attacks:</strong>
  <%= @datasheet.attacks %>
</p>

<p>
  <strong>Wounds:</strong>
  <%= @datasheet.wounds %>
</p>

<p>
  <strong>Leadership:</strong>
  <%= @datasheet.leadership %>
</p>

<p>
  <strong>Armor save:</strong>
  <%= @datasheet.armor_save %>
</p>

<p>
  <strong>Invul shooting:</strong>
  <%= @datasheet.invul_shooting %>
</p>

<p>
  <strong>Invul combat:</strong>
  <%= @datasheet.invul_combat %>
</p>

<p>
  <strong>Single model point cost:</strong>
  <%= @datasheet.single_model_point_cost %>
</p>

<p>
  <strong>Model count increment:</strong>
  <%= @datasheet.model_count_increment %>
</p>

<p>
  <strong>Power for each increment:</strong>
  <%= @datasheet.power_for_each_increment %>
</p>

<p>
  <strong>Min model count:</strong>
  <%= @datasheet.min_model_count %>
</p>

<p>
  <strong>Max model count:</strong>
  <%= @datasheet.max_model_count %>
</p>


<%= link_to 'Edit', edit_datasheet_path(@datasheet) %> |
<%= link_to 'Back', datasheets_path %> |
<%= link_to 'Your Simulation', simulation_path(current_user.simulation.id) %>
