<%= form_for(first_weapon) do |f| %>
  <% if first_weapon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(first_weapon.errors.count, "error") %> prohibited this first_weapon from being saved:</h2>

      <ul>
      <% first_weapon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ranged %>
    <%= f.check_box :ranged %>
  </div>

  <div class="field">
    <%= f.label :melee %>
    <%= f.check_box :melee %>
  </div>

  <div class="field">
    <%= f.label :primaryAddedMeleeStr %>
    <%= f.number_field :primaryAddedMeleeStr %>
  </div>

  <div class="field">
    <%= f.label :secondaryAddedMeleeStr %>
    <%= f.number_field :secondaryAddedMeleeStr %>
  </div>

  <div class="field">
    <%= f.label :primaryMeleeRend %>
    <%= f.number_field :primaryMeleeRend %>
  </div>

  <div class="field">
    <%= f.label :secondaryMeleeRend %>
    <%= f.number_field :secondaryMeleeRend %>
  </div>

  <div class="field">
    <%= f.label :firstShootAttacks %>
    <%= f.number_field :firstShootAttacks %>
  </div>

  <div class="field">
    <%= f.label :firstShootAttacksD3 %>
    <%= f.check_box :firstShootAttacksD3 %>
  </div>

  <div class="field">
    <%= f.label :firstShootAttacksD6 %>
    <%= f.check_box :firstShootAttacksD6 %>
  </div>

  <div class="field">
    <%= f.label :secondShootAttacks %>
    <%= f.number_field :secondShootAttacks %>
  </div>

  <div class="field">
    <%= f.label :secondShootAttacksD3 %>
    <%= f.check_box :secondShootAttacksD3 %>
  </div>

  <div class="field">
    <%= f.label :secondShootAttacksD6 %>
    <%= f.check_box :secondShootAttacksD6 %>
  </div>

  <div class="field">
    <%= f.label :thirdShootAttacks %>
    <%= f.number_field :thirdShootAttacks %>
  </div>

  <div class="field">
    <%= f.label :fourthShootAttacks %>
    <%= f.number_field :fourthShootAttacks %>
  </div>

  <div class="field">
    <%= f.label :firstRange %>
    <%= f.number_field :firstRange %>
  </div>

  <div class="field">
    <%= f.label :secondRange %>
    <%= f.number_field :secondRange %>
  </div>

  <div class="field">
    <%= f.label :thirdRange %>
    <%= f.number_field :thirdRange %>
  </div>

  <div class="field">
    <%= f.label :fourthRange %>
    <%= f.number_field :fourthRange %>
  </div>

  <div class="field">
    <%= f.label :firstShootAttacks %>
    <%= f.number_field :firstShootAttacks %>
  </div>

  <div class="field">
    <%= f.label :secondShootAttacks %>
    <%= f.number_field :secondShootAttacks %>
  </div>

  <div class="field">
    <%= f.label :thirdShootAttacks %>
    <%= f.number_field :thirdShootAttacks %>
  </div>

  <div class="field">
    <%= f.label :fourthShootAttacks %>
    <%= f.number_field :fourthShootAttacks %>
  </div>

  <div class="field">
    <%= f.label :firstShootAttacksDamageD3 %>
    <%= f.check_box :firstShootAttacksDamageD3 %>
  </div>

  <div class="field">
    <%= f.label :firstShootAttacksDamageD6 %>
    <%= f.check_box :firstShootAttacksDamageD6 %>
  </div>

  <div class="field">
    <%= f.label :secondShootAttacksDamageD3 %>
    <%= f.check_box :secondShootAttacksDamageD3 %>
  </div>

  <div class="field">
    <%= f.label :secondShootAttacksDamageD6 %>
    <%= f.check_box :secondShootAttacksDamageD6 %>
  </div>

  <div class="field">
    <%= f.label :points %>
    <%= f.number_field :points %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
