<p id="notice"><%= notice %></p>

<p>
  <strong>Ranged:</strong>
  <%= @first_weapon.ranged %>
</p>

<p>
  <strong>Melee:</strong>
  <%= @first_weapon.melee %>
</p>

<p>
  <strong>Primaryaddedmeleestr:</strong>
  <%= @first_weapon.primaryAddedMeleeStr %>
</p>

<p>
  <strong>Secondaryaddedmeleestr:</strong>
  <%= @first_weapon.secondaryAddedMeleeStr %>
</p>

<p>
  <strong>Primarymeleerend:</strong>
  <%= @first_weapon.primaryMeleeRend %>
</p>

<p>
  <strong>Secondarymeleerend:</strong>
  <%= @first_weapon.secondaryMeleeRend %>
</p>

<p>
  <strong>Firstshootattacks:</strong>
  <%= @first_weapon.firstShootAttacks %>
</p>

<p>
  <strong>Firstshootattacksd3:</strong>
  <%= @first_weapon.firstShootAttacksD3 %>
</p>

<p>
  <strong>Firstshootattacksd6:</strong>
  <%= @first_weapon.firstShootAttacksD6 %>
</p>

<p>
  <strong>Secondshootattacks:</strong>
  <%= @first_weapon.secondShootAttacks %>
</p>

<p>
  <strong>Secondshootattacksd3:</strong>
  <%= @first_weapon.secondShootAttacksD3 %>
</p>

<p>
  <strong>Secondshootattacksd6:</strong>
  <%= @first_weapon.secondShootAttacksD6 %>
</p>

<p>
  <strong>Thirdshootattacks:</strong>
  <%= @first_weapon.thirdShootAttacks %>
</p>

<p>
  <strong>Fourthshootattacks:</strong>
  <%= @first_weapon.fourthShootAttacks %>
</p>

<p>
  <strong>Firstrange:</strong>
  <%= @first_weapon.firstRange %>
</p>

<p>
  <strong>Secondrange:</strong>
  <%= @first_weapon.secondRange %>
</p>

<p>
  <strong>Thirdrange:</strong>
  <%= @first_weapon.thirdRange %>
</p>

<p>
  <strong>Fourthrange:</strong>
  <%= @first_weapon.fourthRange %>
</p>

<p>
  <strong>Firstshootattacks:</strong>
  <%= @first_weapon.firstShootAttacks %>
</p>

<p>
  <strong>Secondshootattacks:</strong>
  <%= @first_weapon.secondShootAttacks %>
</p>

<p>
  <strong>Thirdshootattacks:</strong>
  <%= @first_weapon.thirdShootAttacks %>
</p>

<p>
  <strong>Fourthshootattacks:</strong>
  <%= @first_weapon.fourthShootAttacks %>
</p>

<p>
  <strong>Firstshootattacksdamaged3:</strong>
  <%= @first_weapon.firstShootAttacksDamageD3 %>
</p>

<p>
  <strong>Firstshootattacksdamaged6:</strong>
  <%= @first_weapon.firstShootAttacksDamageD6 %>
</p>

<p>
  <strong>Secondshootattacksdamaged3:</strong>
  <%= @first_weapon.secondShootAttacksDamageD3 %>
</p>

<p>
  <strong>Secondshootattacksdamaged6:</strong>
  <%= @first_weapon.secondShootAttacksDamageD6 %>
</p>

<p>
  <strong>Points:</strong>
  <%= @first_weapon.points %>
</p>

<%= link_to 'Edit', edit_first_weapon_path(@first_weapon) %> |
<%= link_to 'Back', first_weapons_path %>
