<p id="notice"><%= notice %></p>

<h1>Fourth Weapons</h1>

<table>
  <thead>
    <tr>
      <th>Ranged</th>
      <th>Melee</th>
      <th>Primaryaddedmeleestr</th>
      <th>Secondaryaddedmeleestr</th>
      <th>Primarymeleerend</th>
      <th>Secondarymeleerend</th>
      <th>Firstshootattacks</th>
      <th>Firstshootattacksd3</th>
      <th>Firstshootattacksd6</th>
      <th>Secondshootattacks</th>
      <th>Secondshootattacksd3</th>
      <th>Secondshootattacksd6</th>
      <th>Thirdshootattacks</th>
      <th>Fourthshootattacks</th>
      <th>Firstrange</th>
      <th>Secondrange</th>
      <th>Thirdrange</th>
      <th>Fourthrange</th>
      <th>Firstshootattacks</th>
      <th>Secondshootattacks</th>
      <th>Thirdshootattacks</th>
      <th>Fourthshootattacks</th>
      <th>Firstshootattacksdamaged3</th>
      <th>Firstshootattacksdamaged6</th>
      <th>Secondshootattacksdamaged3</th>
      <th>Secondshootattacksdamaged6</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fourth_weapons.each do |fourth_weapon| %>
      <tr>
        <td><%= fourth_weapon.ranged %></td>
        <td><%= fourth_weapon.melee %></td>
        <td><%= fourth_weapon.primaryAddedMeleeStr %></td>
        <td><%= fourth_weapon.secondaryAddedMeleeStr %></td>
        <td><%= fourth_weapon.primaryMeleeRend %></td>
        <td><%= fourth_weapon.secondaryMeleeRend %></td>
        <td><%= fourth_weapon.firstShootAttacks %></td>
        <td><%= fourth_weapon.firstShootAttacksD3 %></td>
        <td><%= fourth_weapon.firstShootAttacksD6 %></td>
        <td><%= fourth_weapon.secondShootAttacks %></td>
        <td><%= fourth_weapon.secondShootAttacksD3 %></td>
        <td><%= fourth_weapon.secondShootAttacksD6 %></td>
        <td><%= fourth_weapon.thirdShootAttacks %></td>
        <td><%= fourth_weapon.fourthShootAttacks %></td>
        <td><%= fourth_weapon.firstRange %></td>
        <td><%= fourth_weapon.secondRange %></td>
        <td><%= fourth_weapon.thirdRange %></td>
        <td><%= fourth_weapon.fourthRange %></td>
        <td><%= fourth_weapon.firstShootAttacks %></td>
        <td><%= fourth_weapon.secondShootAttacks %></td>
        <td><%= fourth_weapon.thirdShootAttacks %></td>
        <td><%= fourth_weapon.fourthShootAttacks %></td>
        <td><%= fourth_weapon.firstShootAttacksDamageD3 %></td>
        <td><%= fourth_weapon.firstShootAttacksDamageD6 %></td>
        <td><%= fourth_weapon.secondShootAttacksDamageD3 %></td>
        <td><%= fourth_weapon.secondShootAttacksDamageD6 %></td>
        <td><%= fourth_weapon.points %></td>
        <td><%= link_to 'Show', fourth_weapon %></td>
        <td><%= link_to 'Edit', edit_fourth_weapon_path(fourth_weapon) %></td>
        <td><%= link_to 'Destroy', fourth_weapon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fourth Weapon', new_fourth_weapon_path %>
