<div class="page-header">
  <%= link_to battles_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
  <% end %>
  <%= link_to edit_battle_path(@battle), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
  <% end %>
  <h1><%= @battle.name %></h1>
</div>

<dl class="dl-horizontal">

  <br/>

</dl>

  <!-- left dropdown and right dropdown? -->
  <div class="container">

    <%= form_for :simulation do |f| %>

    <!-- Attacked dropdown selector -->
    <div class="col-xs-5 text-left">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Attacker
        </button>
        <ul class="dropdown-menu">
          <% for i in 1..Datasheet.count   %>
          <li>
            <a href="/battles/<%= @battle.id %>/datasheet/<%=i%>/<%= FALSE %>"><%= Datasheet.find(i).name%></a>
          </li>
          <% end %>
        </ul>
      </div>

      <!-- left list of attacker radios -->
      <% if @battle.units.count > 0 %>

          <ul class="list-group">
          <% @battle.units.each do |unit| %>
            <% if unit.team == FALSE %>
              <li class="">
                <label for=<%="simulation_attacker_#{unit.id.to_s}"%>>
                  <%= unit.name%>
                </label>
                <%= f.radio_button :attacker, "#{unit.id.to_s}", required: true %>

                <a href="/battles/<%= @battle.id %>/unit/<%=unit.id%>">
                  <span class="pull-right glyphicon glyphicon-remove"></span>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>

    </div>

    <div class="col-xs-5 text-left">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Target
        </button>
        <ul class="dropdown-menu">
          <% for i in 1..Datasheet.count   %>
          <li>
            <a href="/battles/<%= @battle.id %>/datasheet/<%=i%>/<%= TRUE %>"><%= Datasheet.find(i).name%></a>
          </li>
          <% end %>
        </ul>
      </div>



      <% if @battle.units.count > 0 %>

      <ul class="list-group">
        <% @battle.units.each do |unit| %>
        <% if unit.team == TRUE %>
        <li class="">


          <%= f.radio_button :target, "#{unit.id.to_s}", required: true %>
          <label for=<%="simulation_target_#{unit.id.to_s}"%>>
            <%=unit.name%></label>
            <a href="/battles/<%= @battle.id %>/unit/<%=unit.id%>">
              <span class="pull-right glyphicon glyphicon-remove"></span>
            </a>

        </li>
        <% end %>
      </ul>
      <% end %>
      <% end %>


          <%= f.submit "Assign Target", class: "pull-right btn btn-warning btn-lg btn-default" %>

          <% end %>
          <%= link_to clear_messages_path(current_user.id), method: :post, class: "pull-right btn btn-warning btn-lg btn-default" do %>
          <span>
            Delete Results
          </span>
          <% end %>

    </div>


  </div>


  <div class="container">
    <div class="col-xs-10 text-center">

      <% @battle.simulations.each do |sim| %>

      <div class="btn-group" role="group" aria-label="Assigned Targets">
        <div class="btn-group">

          <!-- attacker dropdown -->
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <%= sim.attacker.name[0..10]%>

            </button>

            <ul class="dropdown-menu">
              <li>
              <%= sim.attacker.name%>
              </li>
              <li>
                <%= sim.attacker.role%>
              </li>
              <li>
                Power:
                  <%= sim.attacker.power%>
              </li>
              <li>
                BS:
                  <%= sim.attacker.combat_skill%>+
              </li>
              <li>
                WS:
                  <%= sim.attacker.shooting_skill%>+
              </li>
              <li>
                Toughness:
                  <%= sim.attacker.toughness%>
              </li>
              <li>
                Wounds:
                  <%= sim.attacker.wounds%>
              </li>
              <li>
                Model Count:
                  <%= sim.attacker.min_model_count%>
              </li>
            </ul>
          </div>

          <!-- target dropdown -->
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <%= sim.target.name[0..10]%>
            </button>

            <ul class="dropdown-menu">
              <li>
                <%= sim.target.name%>
              </li>
              <li>
                <%= sim.target.role%>
              </li>
              <li>
                Power: <%= sim.target.power%>
              </li>
              <li>
                <%= sim.target.combat_skill%>+
              </li>
              <li>
              WS:
                  <%= sim.target.shooting_skill%>+
              </li>
              <li>
              Toughness:
                  <%= sim.target.toughness%>
              </li>
              <li>
              Wounds:
                  <%= sim.target.wounds%>
              </li>
              <li>
                Model Count:
                  <%= sim.target.min_model_count%>
              </li>
            </ul>
          </div>



          <!-- ALTERNATE form of checkbox -->
          <div class="btn-group">
            <%= form_tag(any_attack_path(sim.id), :method => "post", remote: true) do %>


              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Weapon Selection
              </button>

              <ul class="dropdown-menu">
                <% for i in 1..sim.attacker.slots do %>
                  <li role="presentation">
                      <%= collection_check_boxes(:attacker, :weapons, sim.attacker.weapons, :id, :name) do |b| %>
                        <% if Weapon.find(b.value).slot == i %>
                          <div class="collection-check-box">
                            <%= b.check_box({checked: true})  %>
                            <%= b.label %>
                          </div>
                        <% end %>
                      <% end %>
                  </li>
                  <li role="presentation" class="divider"></li>
                <% end %>
              </ul>

              <%= number_field_tag( :iterations) %>

              <%= submit_tag "Attack", remote: true %>

            <% end %>


          </div>
          <%= link_to any_attack_path(sim.id,1), method: :post, class: "btn btn-success btn-default" do %>
          <span class="glyphicon glyphicon-screenshot"></span>
          <% end %>

          <%= link_to any_attack_path(sim.id,40), method: :post, class: "btn btn-warning btn-default" do %>
          <span class="glyphicon glyphicon-stats"></span>
          <% end %>

          <%= link_to delete_sim_from_battle_path(@battle.id, sim.id), method: :delete, class: "btn btn-danger btn-default" do %>
          <span class="glyphicon glyphicon-remove-circle"></span>
          <% end %>

        </div>
      <% end %>

    </div>
  </div>

    <div class="message-wr">
      <%= render '/messages/messages' %>
      <!-- <%= render '/messages/message_form' %> -->
    </div>
