<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @detachment.name %>
</p>

<p>
  <strong>Command points:</strong>
  <%= @detachment.command_points %>
</p>

<p>
  <strong>Min troops:</strong>
  <%= @detachment.min_troops %>
</p>

<p>
  <strong>Min elites:</strong>
  <%= @detachment.min_elites %>
</p>

<p>
  <strong>Min fast:</strong>
  <%= @detachment.min_fast %>
</p>

<p>
  <strong>Min heavy:</strong>
  <%= @detachment.min_heavy %>
</p>

<p>
  <strong>Min hq:</strong>
  <%= @detachment.min_hq %>
</p>

<p>
  <strong>Min lord:</strong>
  <%= @detachment.min_lord %>
</p>

<p>
  <strong>Min flyer:</strong>
  <%= @detachment.min_flyer %>
</p>

<p>
  <strong>Dedicated allowed:</strong>
  <%= @detachment.dedicated_allowed %>
</p>

<p>
  <strong>Max troops:</strong>
  <%= @detachment.max_troops %>
</p>

<p>
  <strong>Max elites:</strong>
  <%= @detachment.max_elites %>
</p>

<p>
  <strong>Max fast:</strong>
  <%= @detachment.max_fast %>
</p>

<p>
  <strong>Max heavy:</strong>
  <%= @detachment.max_heavy %>
</p>

<p>
  <strong>Max hq:</strong>
  <%= @detachment.max_hq %>
</p>

<p>
  <strong>Max lord:</strong>
  <%= @detachment.max_lord %>
</p>

<p>
  <strong>Max flyer:</strong>
  <%= @detachment.max_flyer %>
</p>

<p>
  <strong>List:</strong>
  <%= @detachment.list %>
</p>

<%= link_to 'Edit', edit_detachment_path(@detachment) %> |
<%= link_to 'Back', detachments_path %>
