<p id="notice"><%= notice %></p>

<h1>Second Weapons</h1>

<table>
  <thead>
    <tr>
      <th>Ranged</th>
      <th>Melee</th>
      <th>Primaryaddedmeleestr</th>
      <th>Secondaryaddedmeleestr</th>
      <th>Primarymeleerend</th>
      <th>Secondarymeleerend</th>
      <th>Firstshootattacks</th>
      <th>Firstshootattacksd3</th>
      <th>Firstshootattacksd6</th>
      <th>Secondshootattacks</th>
      <th>Secondshootattacksd3</th>
      <th>Secondshootattacksd6</th>
      <th>Thirdshootattacks</th>
      <th>Fourthshootattacks</th>
      <th>Firstrange</th>
      <th>Secondrange</th>
      <th>Thirdrange</th>
      <th>Fourthrange</th>
      <th>Firstshootattacks</th>
      <th>Secondshootattacks</th>
      <th>Thirdshootattacks</th>
      <th>Fourthshootattacks</th>
      <th>Firstshootattacksdamaged3</th>
      <th>Firstshootattacksdamaged6</th>
      <th>Secondshootattacksdamaged3</th>
      <th>Secondshootattacksdamaged6</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @second_weapons.each do |second_weapon| %>
      <tr>
        <td><%= second_weapon.ranged %></td>
        <td><%= second_weapon.melee %></td>
        <td><%= second_weapon.primaryAddedMeleeStr %></td>
        <td><%= second_weapon.secondaryAddedMeleeStr %></td>
        <td><%= second_weapon.primaryMeleeRend %></td>
        <td><%= second_weapon.secondaryMeleeRend %></td>
        <td><%= second_weapon.firstShootAttacks %></td>
        <td><%= second_weapon.firstShootAttacksD3 %></td>
        <td><%= second_weapon.firstShootAttacksD6 %></td>
        <td><%= second_weapon.secondShootAttacks %></td>
        <td><%= second_weapon.secondShootAttacksD3 %></td>
        <td><%= second_weapon.secondShootAttacksD6 %></td>
        <td><%= second_weapon.thirdShootAttacks %></td>
        <td><%= second_weapon.fourthShootAttacks %></td>
        <td><%= second_weapon.firstRange %></td>
        <td><%= second_weapon.secondRange %></td>
        <td><%= second_weapon.thirdRange %></td>
        <td><%= second_weapon.fourthRange %></td>
        <td><%= second_weapon.firstShootAttacks %></td>
        <td><%= second_weapon.secondShootAttacks %></td>
        <td><%= second_weapon.thirdShootAttacks %></td>
        <td><%= second_weapon.fourthShootAttacks %></td>
        <td><%= second_weapon.firstShootAttacksDamageD3 %></td>
        <td><%= second_weapon.firstShootAttacksDamageD6 %></td>
        <td><%= second_weapon.secondShootAttacksDamageD3 %></td>
        <td><%= second_weapon.secondShootAttacksDamageD6 %></td>
        <td><%= second_weapon.points %></td>
        <td><%= link_to 'Show', second_weapon %></td>
        <td><%= link_to 'Edit', edit_second_weapon_path(second_weapon) %></td>
        <td><%= link_to 'Destroy', second_weapon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Second Weapon', new_second_weapon_path %>
