<p id="notice"><%= notice %></p>

<p>
  <strong>Ranged:</strong>
  <%= @second_weapon.ranged %>
</p>

<p>
  <strong>Melee:</strong>
  <%= @second_weapon.melee %>
</p>

<p>
  <strong>Primaryaddedmeleestr:</strong>
  <%= @second_weapon.primaryAddedMeleeStr %>
</p>

<p>
  <strong>Secondaryaddedmeleestr:</strong>
  <%= @second_weapon.secondaryAddedMeleeStr %>
</p>

<p>
  <strong>Primarymeleerend:</strong>
  <%= @second_weapon.primaryMeleeRend %>
</p>

<p>
  <strong>Secondarymeleerend:</strong>
  <%= @second_weapon.secondaryMeleeRend %>
</p>

<p>
  <strong>Firstshootattacks:</strong>
  <%= @second_weapon.firstShootAttacks %>
</p>

<p>
  <strong>Firstshootattacksd3:</strong>
  <%= @second_weapon.firstShootAttacksD3 %>
</p>

<p>
  <strong>Firstshootattacksd6:</strong>
  <%= @second_weapon.firstShootAttacksD6 %>
</p>

<p>
  <strong>Secondshootattacks:</strong>
  <%= @second_weapon.secondShootAttacks %>
</p>

<p>
  <strong>Secondshootattacksd3:</strong>
  <%= @second_weapon.secondShootAttacksD3 %>
</p>

<p>
  <strong>Secondshootattacksd6:</strong>
  <%= @second_weapon.secondShootAttacksD6 %>
</p>

<p>
  <strong>Thirdshootattacks:</strong>
  <%= @second_weapon.thirdShootAttacks %>
</p>

<p>
  <strong>Fourthshootattacks:</strong>
  <%= @second_weapon.fourthShootAttacks %>
</p>

<p>
  <strong>Firstrange:</strong>
  <%= @second_weapon.firstRange %>
</p>

<p>
  <strong>Secondrange:</strong>
  <%= @second_weapon.secondRange %>
</p>

<p>
  <strong>Thirdrange:</strong>
  <%= @second_weapon.thirdRange %>
</p>

<p>
  <strong>Fourthrange:</strong>
  <%= @second_weapon.fourthRange %>
</p>

<p>
  <strong>Firstshootattacks:</strong>
  <%= @second_weapon.firstShootAttacks %>
</p>

<p>
  <strong>Secondshootattacks:</strong>
  <%= @second_weapon.secondShootAttacks %>
</p>

<p>
  <strong>Thirdshootattacks:</strong>
  <%= @second_weapon.thirdShootAttacks %>
</p>

<p>
  <strong>Fourthshootattacks:</strong>
  <%= @second_weapon.fourthShootAttacks %>
</p>

<p>
  <strong>Firstshootattacksdamaged3:</strong>
  <%= @second_weapon.firstShootAttacksDamageD3 %>
</p>

<p>
  <strong>Firstshootattacksdamaged6:</strong>
  <%= @second_weapon.firstShootAttacksDamageD6 %>
</p>

<p>
  <strong>Secondshootattacksdamaged3:</strong>
  <%= @second_weapon.secondShootAttacksDamageD3 %>
</p>

<p>
  <strong>Secondshootattacksdamaged6:</strong>
  <%= @second_weapon.secondShootAttacksDamageD6 %>
</p>

<p>
  <strong>Points:</strong>
  <%= @second_weapon.points %>
</p>

<%= link_to 'Edit', edit_second_weapon_path(@second_weapon) %> |
<%= link_to 'Back', second_weapons_path %>
