<%= form_for(unit) do |f| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>


  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Target
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% for i in 1..Datasheet.count   %>
        <li><a href="/simulations/<%= @simulation.id %>/datasheets/<%=i%>"><%= Datasheet.find(i) %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
